<div id="arena-page">
  <div id="index-header">
    <h1>All arenas</h1>
    <h2 id="new-arena-button"><%= link_to '+ Add Arena', arenas_new_path%></h2>
  </div>
  <div id="all-arenas">
    <% @arenas.each do |arena| %>
      <div class="card-product">
        <img src="https://picsum.photos/200" />
        <div class="card-product-infos">
          <h2><%= link_to "#{arena.address}", arena_path(arena.id) %></h2>
          <p>Capacity: <%= arena.capacity %></p>
        </div>
      </div>
    <br>
    <% end %>
    <br>
  </div>
</div>
