<div class="banner">
  <div class="banner-content">
    <h1>WANNA GET YOUR ASS KICKED?</h1>
    <div class="button-container-1">
      <span class="mas">YOU SURE?</span>
      <button src="https://www.tomorrowtides.com/absolout-kein-rickroll-xd.html" id='work' type="button" name="Hover">FIGHT NOW!</button>
    </div>
  </div>
</div>

<div id="banner-expansion">
</div>

<div class="section-divider">
</div>

<div id="parralax">
  <img src="https://cdna.artstation.com/p/assets/images/images/019/567/250/large/mohammx-eideh-neon-alley-bw.jpg?1564061270" alt="">
  <div id="description">
    <h2>Welcome to AirBnFight!</h2>
    <h3>This place is for those who crave a thrill in their lives. A place to take out your anger and claim victory over others. To earn the respect you have always wanted.</h3>
  </div>
</div>

<%# <div class="picture-illustration">
  <img src="https://www.wallpaperup.com/uploads/wallpapers/2012/12/01/23240/903c40c5fb7333ad95c7bb1b3f9ef9bf-700.jpg" alt="">
</div> %>



<%# https://www.tomorrowtides.com/absolout-kein-rickroll-xd.html %>
