.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(https://img.wallpaper.sc/android/images/1440x1280/android-1440x1280-wallpaper_02145.jpg);
  height: 750px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


#fight-button {
  border-radius: 2px;
}

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   text-align: center;
// }
