.form {
  color: white;
  padding: 100px 170px;
  font-family: 'Alfa Slab One', cursive;
  min-height: 800px;
}

.form h1 {
  font-family: 'Alfa Slab One', cursive;
}

.form h2 {
  font-family: 'Alfa Slab One', cursive;
}

.form h3 {
  font-family: 'Alfa Slab One', cursive;
  color: white;
  padding-top: 10px;
  font-size: medium;
}

.form a {
  text-decoration: none;
}

.form-list-element {
  padding: 20px;
  line-height: 3;
}

.submit-button {
  text-decoration: none !important;
  color: white !important;
  padding: 5px 15px;
  // text-shadow: 2px 2px 0px #FE4E02 !important;
  // background-color: ;
  border: 3px solid white;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.dashboard {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/509/26/507/blow-fighter-fist-wallpaper-preview.jpg);
  background-size: cover;
}

.form-info {
  min-height: 450px;
  width: 500px;
}
