.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  position: fixed;
  overflow: visible;
  width: 100%;
}

#navbar a {
  color: white;
  // text-shadow: 2px 2px 0px #FE4E02 ;
  font-family: 'Alfa Slab One', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav .dropdown-menu {
  left: -100px;
  background-color: black;
  // background-color: rgba($color: white, $alpha: 0.3);
}

.dropdown-item {
  color: #1EDD88 !important;
}

// #navbarDropdown {
//   border:  3px solid #FE4E02;
// }
